In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', 1000)

In [15]:
population = pd.read_csv(r'C:\Users\FLRea\Documents\NSS\Capstone\Data\population_new.csv')

In [19]:
population.head()

        State         2020         2021         2022         2023         2024
0     Alabama   5,033,094    5,049,196    5,076,181    5,117,673    5,157,699
1      Alaska     733,017      734,420      734,442      736,510      740,133
2     Arizona   7,187,135    7,274,078    7,377,566    7,473,027    7,582,384
3    Arkansas   3,014,546    3,026,870    3,047,704    3,069,463    3,088,354
4  California  39,521,958   39,142,565   39,142,414   39,198,693   39,431,263

In [21]:
population = pd.melt(population, id_vars=['State'], var_name = 'year', value_name = 'population')
population

             State  year   population
0          Alabama  2020   5,033,094
1           Alaska  2020     733,017
2          Arizona  2020   7,187,135
3         Arkansas  2020   3,014,546
4       California  2020  39,521,958
..             ...   ...          ...
250       Virginia  2024   8,811,195
251     Washington  2024   7,958,180
252  West Virginia  2024   1,769,979
253      Wisconsin  2024   5,960,975
254        Wyoming  2024     587,618

[255 rows x 3 columns]

In [23]:
realestate = pd.read_csv(r'C:\Users\FLRea\Documents\NSS\Capstone\Data\state_market_tracker.csv')

In [25]:
realestate.head()

,period_begin,period_end,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,state_code,property_type,property_type_id,median_sale_price,median_sale_price_mom,median_sale_price_yoy,median_list_price,median_list_price_mom,median_list_price_yoy,median_ppsf,median_ppsf_mom,median_ppsf_yoy,median_list_ppsf,median_list_ppsf_mom,median_list_ppsf_yoy,homes_sold,homes_sold_mom,homes_sold_yoy,pending_sales,pending_sales_mom,pending_sales_yoy,new_listings,new_listings_mom,new_listings_yoy,inventory,inventory_mom,inventory_yoy,months_of_supply,months_of_supply_mom,months_of_supply_yoy,median_dom,median_dom_mom,median_dom_yoy,avg_sale_to_list,avg_sale_to_list_mom,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,5/1/2021,5/31/2021,state,4,14,f,New Mexico,NaN,New Mexico,NM,Single Family Residential,6,296300,0.080471,0.305633,276900.0,-0.007405,0.009410,154.0,0.051355,0.200665,160.0,-0.006870,0.066203,1001,0.029835,0.540000,1060.0,-0.005629,0.396574,1173.0,-0.003398,0.294702,3723.0,0.021679,-0.011943,3.7,0.0,-2.1,65.0,-1.0,-20.0,0.969869,-0.007686,-0.000706,0.098901,0.035115,0.048132,0.020414,0.007516,-0.004002,0.152349,-0.012277,0.021579,West Region,NaN,3/10/2025 14:20
1,6/1/2014,6/30/2014,state,4,30,f,South Carolina,NaN,South Carolina,SC,Single Family Residential,6,211400,0.065051,0.082470,201800.0,-0.002210,0.029873,105.0,0.045041,0.056118,108.0,-0.006334,0.025047,4101,0.078076,0.094184,3595.0,0.076670,0.077961,4995.0,-0.041819,0.149862,23035.0,0.000608,0.159519,5.6,-0.5,0.3,96.0,-3.0,-2.0,0.966970,0.000820,0.003483,0.117045,-0.004406,0.008187,0.014456,-0.001399,0.014305,0.049368,0.013691,0.037601,South Region,NaN,3/10/2025 14:20
2,2/1/2015,2/28/2015,state,4,22,f,Ohio,NaN,Ohio,OH,Condo/Co-op,3,103700,0.160259,0.087772,127900.0,0.074708,0.061412,72.0,0.067838,0.131510,80.0,0.035269,0.027576,464,-0.027254,0.047404,509.0,0.034553,0.159453,829.0,0.031095,-0.003606,3692.0,0.047673,-0.106053,8.0,0.6,-1.3,109.0,5.0,-15.0,0.941989,0.003475,0.009168,0.060345,-0.008838,-0.027691,0.016251,NaN,-0.254451,0.038692,0.004301,0.022337,Midwest Region,NaN,3/10/2025 14:20
3,3/1/2020,3/31/2020,state,4,39,f,Louisiana,NaN,Louisiana,LA,Single Family Residential,6,206900,0.039393,0.067922,225300.0,0.077782,0.053230,119.0,0.024036,0.057726,123.0,0.028093,0.029035,3537,0.248059,0.128590,3722.0,0.253199,0.095995,3198.0,0.182255,0.062458,11036.0,0.013593,-0.011022,3.1,-0.7,-0.5,90.0,-2.0,-11.0,0.972979,0.002835,0.003430,0.119593,0.007384,-0.000382,0.079830,0.007089,-0.012831,0.125710,0.013958,0.032423,South Region,NaN,3/10/2025 14:20
4,12/1/2013,12/31/2013,state,4,35,f,Kansas,NaN,Kansas,KS,All Residential,-1,149400,-0.053084,-0.034290,138900.0,-0.041843,-0.008476,74.0,-0.002286,0.045822,75.0,-0.023823,0.015256,2031,0.138453,0.185639,1064.0,0.206349,0.328340,1549.0,-0.242543,0.102491,6024.0,-0.081707,0.116589,3.0,-0.7,-0.1,101.0,5.0,-7.0,0.944873,-0.017677,-0.021409,0.102156,0.006809,-0.010204,NaN,NaN,NaN,0.010756,0.002413,-0.001589,Midwest Region,NaN,3/10/2025 14:20

In [27]:
realestate.period_begin = pd.to_datetime(realestate.period_begin)

In [29]:
realestate.period_end = pd.to_datetime(realestate.period_end)